@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

body {
  background: #642b73;
  background: -webkit-linear-gradient(to right, #c6426e, #642b73);
  background: linear-gradient(to right, #c6426e, #642b73);
  font-family: "Source Sans Pro", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  flex-direction: column;
}

h1 {
  letter-spacing: 1px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

a:hover {
  color: #ffffff !important;
  width: 100%;
  height: 100%;
  border: #ffffff solid 2px;
  background: transparent;
}

a {
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  border: #ffffff solid 2px;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  transition: ease-out 300ms;
}

i {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 80vw;
  }
}